*.png
*.pyc
.vscode/*
figures/*
models/*
*.json
*.npy
/venv/
.idea
data/new_seirhcd.csv

dataset/features.csv

models-2/features_random.csv

models-2/mlp_random.save

models-2/scaler_random.save

raw_data
